<head>
    <link rel="stylesheet" href="css/main.css">
</head>

  <form id="FormIngreso" name="FormIngreso" enctype="multipart/form-data">
      
        <h2>Alta de Productos</h2>
        
        <fieldset>
          <label for="nombre">Nombre:
          <input type="text" id="nombre" name="nombre" ng-model="producto.nombre" placeholder="ingrese nombre" value="" required />
          <span id="lblNombre" style="color:#FF0000;float:right;font-size:18" ng-show='FormIngreso.nombre.$error.required'>* El nombre es requerido</span></label>


          <br><label for="porcentaje">Porcentaje:
          <input type="number" id="porcentaje" name="porcentaje" ng-model="producto.porcentaje" placeholder="ingrese porcentaje" value="" required />
          <span id="lblPorcentaje" style="color:#FF0000;float:right;font-size:18" ng-show='FormIngreso.porcentaje.$error.required'>* El porcentaje es requerido</span></label>
        </fieldset>

        <button ng-disabled="FormIngreso.$invalid" name="guardar" ng-click="Guardar()">Guardar</button>


        <!-- Ventana emergente Registro Correcto -->

  </form>